# Dependencies
node_modules

# Build output
dist
build

# Testing
coverage
.nyc_output
test-results
playwright-report

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
docs

# CI/CD
.github
.gitlab-ci.yml
.travis.yml
